.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    transition: border-color 0.3s ease-in-out;
  }
  
  .form-control:hover {
    outline: none;
    border-color: #fddb3a;
    box-shadow: 0 0 5px rgba(218, 204, 12, 0.904);
  }
  
  .select-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
  }
  
  .select-control:hover{
    outline: none;
    border-color: #fddb3a;
    box-shadow: 0 0 5px rgba(218, 204, 12, 0.904);
  }
  .submit-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #fddb3a;
    color: #333;
  }

  h1 {
    background-color: #f2f2f2; /* Color gris de fondo */
    padding: 10px; /* Ajusta el espacio alrededor del texto */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3); /* Sombreado */
    display: block; /* Cambia la visualización a bloque para que abarque todo el ancho */
    width: 100%; /* Establece el ancho al 100% */
    text-align: center; /* Centra el texto horizontalmente */
    margin-bottom: 1; /* Reduce el margen inferior del título */
    margin-top: 0;
    
  }
